pexels-fuzzy-rescue-3669638 :root {
  --button-color: #57458e;
  --background-img: url;
  --default-font-family: `Nunito`, sans-serif;
  --h2-colour: #352a57;
}

body {
  font-family: "Nunito", sans-serif;
  /*  display: block;
  margin: 0 auto;*/
}

h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 98px;
  color: orange;
  margin: 30px auto 20px;
  text-align: center;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 40px;
}
hr {
  border: none;
  border-top: 2px dashed #67d5d2;
}
nav {
  padding: 20px 0 20px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 35px;
  position: relative;
  top: 30%;
}
nav a.active {
  color: #662eed;
}
nav a:hover {
  color: #662eed;
  font-size: 16px;
  transition: all 100ms ease-in-out;
}
nav a {
  text-decoration: none;
  color: #272142;
  font-weight: 700;
}
.hero p {
  font-weight: normal;
  line-height: 30px;
  font-size: 24px;
  line-height: 35px;
  color: white;
  font-weight: bold;
}
.hero {
  background: url(images/pexels-alleksana-4113923.jpg)
    /*no-repeat center bottom -75%
    contain*/;
  background-size: 100% auto;
  background-position-y: center;
  text-align: center;
  padding: 100px 10px;
  max-height: 400px;
  margin-bottom: 100px;
}
.menu {
  border-radius: 5px;
  height: auto;
  /*max-width: 400px;*/
}
.recipe-container {
  display: block;
  margin: 100px auto;
}

.recipe-description {
  padding: 0 30px;
}

.recipe-container p {
  color: black;
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
}

.about-section,
.recipe-section {
  padding: 100px 10px 0;
  margin: 30px 140px 0;
  text-align: center;
}

.about-section h2 {
  font-size: 52px;
  line-height: 1.2;
  font-weight: bold;
}

.about-section h3 {
  font-size: 24px;
  color: var(--h2-colour);
  margin: 20px auto;
}

.about-section p {
  font-size: 18px;
  color: #272142c3;
  margin-top: 35px;
}

.follow-me {
  font-size: 18px;
  font-weight: bold;
}
.container {
  display: block;
  margin: 100px auto 70px;
}
.favorite-recipes {
  margin-bottom: 10px;
  border-radius: 5px;
  width: auto;
}
.col-4 h4 {
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
}

.recipe-details {
  width: 100%;
  margin: 0 auto 40px;
}
.recipe-section {
  width: 770px;
  text-align: center;
  display: block;
  margin: auto;
}
.recipe-section h2 {
  text-align: left;
  font-weight: bold;
  font-size: 36px;
}
.ingredients-section,
.how-to-section {
  padding: 5px 10px 5px 10px;
  width: 370px;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
}

.how-to-section h5 {
  font-weight: 800;
  color: #f65282;
  margin-bottom: 10px;
}
.how-to-section p {
  line-height: 30px;
}
.contact-info {
  margin: 50px auto 50px 40px;
  text-align: left;
}
.contact-info h4 {
  color: #662eed;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
.contact-info p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

@media (max-width: 1300px) {
  .about-section p,
  .container {
    margin: 20px auto;
  }
  .about-section {
    margin: auto;
  }
  h2.about-name {
    font-size: 42px;
  }
  .recipe-container {
    margin: 80px 20px;
  }

  .my-photo {
    padding: 0 10px;
  }
  .how-to-section {
    display: block;
    margin: 0 auto;
  }
  .contact-info {
    margin: 0 auto 50px 40px;
  }
}
@media (max-width: 1000px) {
  .about-section {
    margin-top: 50px;
    padding-top: 0;
  }
  .hero {
    max-height: 350px;
    background-position-y: top 100%;
    margin-bottom: 40px;
  }
  .hero h1 {
    line-height: 48px;
    font-size: 48px;
    margin-top: 0;
  }
  .hero p {
    font-size: 18px;
    line-height: 25px;
  }

  .recipe-description p {
    font-size: 16px;
  }
  .how-to-section {
    padding: 50px 10px 0;
    display: block;
    margin: 0 auto;
  }
  .recipe-section h2 {
    text-align: center;
  }
  .contact-info {
    margin: 0 auto 20px 20px;
  }
}
@media (max-width: 500px) {
  .hero {
    max-height: 270px;
  }
  h1 {
    font-size: 42px;
    margin: 50px auto 30px;
    text-align: center;
    width: 100%;
  }

  .hero h1 {
    font-size: 42px;
    margin-bottom: 0px;
    margin-top: 0;
    line-height: 42px;
  }

  .about-section {
    margin-top: 0px;
  }
  h2.about-name,
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  p.about-me,
  p.follow-me,
  p {
    font-size: 14px;
  }
  .recipe-description {
    padding: 0 10px;
  }
  .favorite-recipes {
    margin-top: 30px;
  }
  .contact-info h4 {
    font-size: 14px;
    line-height: 18px;
  }
  .contact-info p {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 400px) {
  nav li {
    margin-left: 10px;
    font-size: 16px;
  }
  .hero {
    padding-top: 0px;
    max-height: 180px;
  }
  h1,
  .hero h1 {
    font-size: 42px;
    margin-top: 0;

    margin-bottom: 20px;
    padding-top: 20px;
    line-height: 42px;
  }
  .hero p {
    font-size: 16px;
  }
}
