pexels-fuzzy-rescue-3669638 :root {
  --button-color: #57458e;
  --background-img: url;
  --default-font-family: `Nunito`, sans-serif;
  --h2-colour: #352a57;
}

body {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 98px;
  color: orange;
  margin-top: 30px;
  margin-bottom: 20px;
}
.hero p {
  font-weight: normal;
  line-height: 30px;
  font-size: 24px;
  line-height: 35px;
  color: white;
  font-weight: bold;
}
.hero {
  background: url(images/pexels-alleksana-4113923.jpg) no-repeat right 35%
    bottom 15% fixed;
  background-size: cover;
  text-align: center;
  padding: 100px 10px;
  max-height: 400px;
  margin-bottom: 100px;
}
.menu {
  border-radius: 5px;
  height: 300px;
  width: auto;
}
.recipe-container {
  margin: 100px 120px;
}

.recipe-container p {
  color: black;
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
}

.menu {
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  width: auto;
  z-index: -1;
  height: 100%;

  background-position: center;
}
